/* Bootstrap custom variable overrides */

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: Lato, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
//   "Liberation Mono", "Courier New", monospace !important;

$enable-shadows: true;
$enable-negative-margins: true;
