/* Fontsource Lato */
// @import "../node_modules/@fontsource/lato/100.css";        /* thin | normal */
// @import "../node_modules/@fontsource/lato/100-italic.css"; /* thin | italic */
// @import "../node_modules/@fontsource/lato/300.css";        /* light | normal */
// @import "../node_modules/@fontsource/lato/300-italic.css"; /* light | italic */
@import "../node_modules/@fontsource/lato/400.css"; /* normal | normal */
// @import "../node_modules/@fontsource/lato/400-italic.css"; /* normal | italic */
// @import "../node_modules/@fontsource/lato/700.css";        /* bold | normal */
// @import "../node_modules/@fontsource/lato/700-italic.css"; /* bold | italic */
// @import "../node_modules/@fontsource/lato/900.css";        /* black | normal */
// @import "../node_modules/@fontsource/lato/900-italic.css"; /* black | italic */
