<div id="<%= @id %>" class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6 mt-1">

  <h3>Calendar URL</h3>

  <p><%= @current_user.calendar_slug %></p>

  <%= form_for :calendar_slug, "#", [phx_submit: :save, phx_target: @myself], fn _csf -> %>
  <%= submit "Generate new", class: "btn btn-primary" %>
  <% end %>

</div>
