<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-8">

  <h2>
    <%= icon_div @conn, "bi-calendar2", [class: "icon baseline"] %>
    User Shifts ICS
  </h2>
  <p class="lead">Shifts for user: <%= @user.email %></p>
  <p>Calendar slug: <%= @slug %></p>


  </div>
</div>
